services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: team-sam-moradian-nextjs
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true